@{
    ViewData["Title"] = "Home Page";
}

<!-- Slider Start -->
<section class="slider">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-9-desktop is-10-tablet">
				<div class="block has-text-centered">
					<span class="is-block mb-4 text-white is-capitalized">A non-profit company</span>
					<h1 class="mb-5">BumbleBee Foundation</h1>
					<p class="mb-6">Your small contribution means a lot. </p>
					<a asp-action="Index" asp-controller="payment" target="_blank" class="btn btn-main is-rounded">Donate Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="section about-page">
	<div class="container">
		<div class="columns is-align-items-center">
			<div class="column is-4-desktop is-5-tablet">
				<div class="about-item-img">
					<img src="~/assets/images/about/img-3.jpg" alt="" class=" w-100">
				</div>
			</div>

			<div class="column is-8-desktop is-7-tablet">
				<div class="about-item-content pl-5">
					<span class="text-color">Registration No. <b>K2020798950</b></span>
					<h2 class="mb-5 content-title"> Welcome to the BumbleBee Foundation Established in 2020.</h2>
					<p class="is-size-5 mb-4">A non-profit company with a clear mission: to serve as a conduit for both local and offshore sponsors seeking to make a meaningful impact within South Africa.</p>
					<p class="mb-5">Our primary focus lies in fostering partnership with offshore sponsores, leveraging their resources to support initiatives of others non profit organisations.</p>
					
				</div>
			</div>
		</div>
	</div>
</section>

@* <div class="section pt-0">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop is-12-tablet">
				<div class="content has-text-centered">
					<h2 class="content-title mb-5">Worldwide partner</h2>
					<p>Assumenda reiciendis delectus dolore incidunt molestias omnis quo quaerat voluptate, eligendi perspiciatis ipsa laudantium nesciunt officia, odit nemo quidem hic itaque. Fugiat.</p>
				</div>
			</div>
		</div>

		<div class="clients-item-wrap mt-5">
			<div class="columns is-multiline">
				<div class="column is-3-desktop is-6-tablet">
					<a href="#" class="is-block has-text-centered">
						<img src="images/clients/client1.png" alt="" class=" ">
					</a>
				</div>

				<div class="column is-3-desktop is-6-tablet">
					<a href="#" class="is-block has-text-centered">
						<img src="images/clients/client2.png" alt="" class="">
					</a>
				</div>

				<div class="column is-3-desktop is-6-tablet">
					<a href="#" class="is-block has-text-centered">
						<img src="images/clients/client5.png" alt="" class="">
					</a>
				</div>

				<div class="column is-3-desktop is-6-tablet">
					<a href="#" class="is-block has-text-centered">
						<img src="images/clients/client4.png" alt="" class="">
					</a>
				</div>
			</div>
		</div>
	</div>
</div> *@

<!-- Section Intro Start -->
<section class="section intro">
	<div class="container">
		<div class="columns is-align-items-center is-desktop mb-6">
			<div class="column is-6-desktop">
				<div class="section-title mb-0">
					<h2 class="mt-4 content-title">At the heart of our foundation is the belief in the power of collaboration and collective action.</h2>
				</div>
			</div>
			<div class="column is-6-desktop">
                <p>
                   We understand that real change happens when individuals and organisations come together to address pressing social and environmental challenges.
				   By harnessing the generosity of offshore sponsores and facilitating their support for local initiatives, we strive to create a ripple effect of positive change that extends far beyond geographical boundaries.
				</p>
			</div>
		</div>
		<div class="columns is-multiline is-justify-content-center">
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="~/assets/images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Get inspired</h4>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item mb-5 mb-lg-0">
					<img src="~/assets/images/about/image-2.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Give Donation</h4>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="~/assets/images/about/image-3.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Become a Volunteer</h4>
				</div>
			</div>
			<div class="column is-3-desktop is-6-tablet">
				<div class="intro-item">
					<img src="~/assets/images/about/image-1.jpg" alt="" class=" w-100">
					<h4 class="mt-4 mb-3">Help The children</h4>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section Intro END -->
<section class="section video">
	<div class="container">
		<div class="columns is-desktop">
			<div class="column is-8-desktop">
				<div class="video-content">
					<h2 class="mt-4 mb-6 is-relative text-lg text-white">We Make a Difference <br>in their Life</h2>
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-12">
				<div class="video-block">
					<div class="img-block">
						<img src="~/assets/images/bg/bg-3.jpg" alt="">
					</div>
					<a data-video-id="sXoKSD8QJEA" class="videoplay">
						<i class="icofont-ui-play"></i>
					</a>
				</div>
			</div>
		</div>

		@* <div class="counter-section">
			<div class="columns is-multiline">
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">18</span>
						<p>Years of Experience</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat has-text-weight-bold text-color">1,460</span>
						<p>Active Volunteer</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat  text-color">92</span>
						<p>Availble Country</p>
					</div>
				</div>
				<div class="column is-3-desktop is-6-tablet">
					<div class="counter-item-2 pt-5">
						<span class="counter-stat text-color">54</span>
						<p>Million People Helped</p>
					</div>
				</div>
			</div>
		</div> *@
	</div>
</section>
<section class="section gallery">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-8-desktop is-10-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Transparency</span>
					<h2 class="mt-4 mb-5 is-relative content-title">Our approach is centred around transparency, accountability, and sustainability.</h2>
					<p class="mb-5">We are committed to ensuring that every rand contributed to the Bumblebee Foundation is used efficiently and effectively to support the causes that matters most ot us.Through strategic partnerhips, we aim to maximize the impacct of every donation, no matter how large or small.</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
<div class="cta-block section">
    <div class="container">
        <div class="columns is-justify-content-center ">
            <div class="column is-7-desktop is-12-tablet">
                <div class="cta-content has-text-centered">
                    <i class="icofont-diamond text-lg text-color"></i>
                    <h2 class="text-white text-lg mb-6 mt-4">We can’t help everyone, but everyone can help someone</h2>
                    <a asp-action="Index" asp-controller="payment" class="btn btn-main is-rounded">Make a donation</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Section About Start -->
<section class="section causes">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-7-desktop is-8-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Vision Statement</span>
					<h2 class="mt-4 mb-5 is-relative content-title">Our Vision Statement</h2>
					<p class="mb-5">At Bumblebee Foundation, we envision a place where very individual and community has the opportunity to thrive. WE strive for a future where socaila nad environmental challenges are met with empathy, innovation , and collaboration.</p>
					<p>Our vison is one of the interconnectedness, where offshore sponsors and local initiatives unite to create sustainable solutionns that leave a lasting impact. Through our dedicatin to transparency, accountability, and inclusivity, we aspire to be a beacon of hope and datalyst for positive change worldwide. together, we can build a future where everyone has the resources and support they need to reach their full potential.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Section About Start -->
<section class="section causes">
	<div class="container">
		<div class="columns is-justify-content-center">
			<div class="column is-7-desktop is-8-tablet">
				<div class="section-title has-text-centered">
					<span class="text-color">Mission Statement</span>
					<h2 class="mt-4 mb-5 is-relative content-title">Our Mission Statement</h2>
					<p class="mb-5">At Bumblebee Foundation is dedicated to fostering partnerships and mobilising resources to support the initiatives of non-profit organisations within South Africa. Our mission to connect offshore sponsors with local porjects, amplifying their impact and empowering communities to accountability, and sustainablilty, we strive to omaximize the effectiveness of every donation and esure that resources are directed towards meaningful, long-term solutions.<br /> Through collaboration and collective action, we aim to create a more equitable and resilient space for present and future generations.</p>
				</div>
			</div>
		</div>
	</div>
</section>

